
#footer-info {
    background-color: $color_gray6;
    padding-bottom: 3rem;
    font-size: $fssmall;

    &.nofooter {
        padding-top: 1.8rem;
        padding-bottom: 1.8rem;
    }

    .theme-static-content {
        margin: 0 -.6rem;
        padding: 0;
        list-style: none;

        li {
            display: inline-block;
            vertical-align: middle;
            margin: 0 .6rem;

            &.theme-static-item-first {
    			font-weight: $fwbold;
                color: $accent1;
                top: -.1rem;
                position: relative;
            }

            a {
                color: inherit;

                &:hover,
                &:focus {
                    text-decoration: none;
                    color: $linkcolor;
                }
            }
        }


        .static-icon {
            font-size: 1.4rem;
            color: $accent2;
            vertical-align: middle;
            margin-right: .4rem;
            line-height: 1;
        }
    }


}



@media only screen and (max-width: $wmediumdevice){

    #footer-info {

        text-align: center;

        .theme-static-content {
            li {
                &.theme-static-item-first {
                    display: none;
                }
            }
        }
    }
}
