
.pbanimnum-item {

    .pbanimnum-number {
        font-weight: $fwheadings;
    }


    /* Default theme style */

    .mb2mcl & {
        border: dashed 2px $color_border;
        @include mb2_border_radius(.3rem);
        padding: 1.25rem;

        .pbanimnum-icon,
        .pbanimnum-number,
        .pbanimnum-text {
            display: inline-block;
        }

        .pbanimnum-title {
            margin: 0;
        }

        .pbanimnum-icon,
        .pbanimnum-number {
            margin-right: 1.25rem;
        }

    }


}
