

.theme-slide-title {
	margin: 0;
}

.theme-slider-readmore {
	margin-top: 1rem;
}

.theme-slider-item-details {
	margin-top: .7rem;
}




.theme-slider {


    &.slider-mode {

    	.theme-slide-content1 {
    		position: absolute;
    		top:0;
    		right:0;
    		bottom: -1px;
    		left: 0;
    	}

    	.theme-slide-content2 {
    		display: table;
    		height: 100%;
    		width: 100%;
    	}

    	.theme-slide-content3 {
    		display: table-cell;
    		vertical-align: bottom;
    	}

    	.theme-slide-content4 {
    		padding: .8rem;
    		background-color: rgba($accent3, .65);
    		background-image: url([[pix:theme|svg/strip1_white3]]);
    	}

    	color: #fff;

    	.theme-slide-title {
    		color: #fff;

    		a {
    			color: #fff;
    			&:hover,
    			&:focus {
    				color: #fff;
    			}
    		}
    	}
    }



    &.carousel-mode {

		color: inherit;
		margin-bottom: 30px;

		.theme-slide-title {
			margin: 0;

			a {
				color: $headingscolor !important;
			}
		}

		.theme-slide-content1 {
			padding-top: .8rem;
		}

		.theme-slider-item-inner {
            > a {
                display: block;
                color: inherit;
            }
        }

		.theme-slider-img {
            position: relative;
        }

		.theme-slider-item-details {
			margin-top: .7rem;
		}

		.iscolor {
            color: #fff;

            .theme-slide-title {
                color: #fff;

				a {
					color: #fff;
				}
            }

			.theme-slide-content1 {
	            padding: .8rem;
	        }
        }



		/* Custom styles */

		&.mb2mclmain1,
		&.mb2mclmain2,
		&.mb2mclmain3 {

			.theme-slider-item {
				position: relative;
			}

			.theme-slide-content1 {
				position: absolute;
			    width: 100%;
			    height: 100%;
			    left: 0;
			    top: 0;
			}

			.theme-slide-content2 {
				display: table;
			    width: 100%;
			    height: 100%;
			    z-index: 2;
			    position: relative;
			}

			.theme-slide-content3 {
				display: table-cell;
				vertical-align: middle;
				text-align: center;
			}

		}


		&.mb2mclmain1,
		&.mb2mclmain2 {
			.theme-slider-item-inner {
				background-color: $accent1;
			}

			a {
				 color: #fff !important;
			 }

			.theme-slide-title {
				color: #fff;
			}
		}


		&.mb2mclmain1 {

			.theme-slider-img {
				opacity: .3;
			}

			.theme-slide-title {
				@include mb2_transition1(all, .35s);
			}

			.theme-slider-item {
				&:hover {
					.theme-slide-title {
						letter-spacing: 1px;
					}
				}
			}

		}



		&.mb2mclmain2 {

			.theme-slide-content1 {
				padding-left: 0;
				padding-right: 0;
			}

			.theme-slide-content4 {
				padding: .6rem;
			}

			.theme-slider-img {
				opacity: .7;
			}

			.theme-slider-item-inner {
				background-color: #000 !important;
			}

			.theme-slider-item {
				&:hover {
					// .theme-slider-img {
					// 	opacity: .1;
					// }


				}
			}

		}


		&.mb2mclmain3 {

			color: $accent1;

			.theme-slider-bg {
				background-color: $accent1;
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				opacity: .07;
				@include mb2_transition1(all, .35s);
			}

			.theme-slider-desc {
	    		color: inherit;
	    	}

	    	.theme-slide-title {
	    		color: inherit;

	    		a {
	    			color: inherit !important;
	    		}
	    	}

			.theme-slider-item  {
				border: solid 2px $accent1;
				@include mb2_transition1(all, .35s);

				&:hover {
					color: #fff !important;

					.theme-slider-bg {
						opacity: 1;
					}
				}
			}



			.theme-slider-item-inner {
				background-color: #fff !important;
			}

			.theme-slider-img {
				opacity: .1;
			}

		}







    }
}
