/* Asegúrate de que el CSS se aplique específicamente al bloque del plugin */
.block_teacher_profile .teacher-profile img {
    border-radius: 50% !important;
    margin-right: 10px;
    vertical-align: middle;
}

/* Otros estilos */
.block_teacher_profile .teacher-profile {
    margin-bottom: 15px;
}

.block_teacher_profile .teacher-profile p {
    display: inline-block;
    vertical-align: middle;
}